Desenvolvimento para Internet das Coisas/
Legislação é ética/
Qualidade de Software/
Arquitetura de Projetos de Sistema/
Desenvolvimento para dispositivos móveis/
OPE - Oficina de Projeto de Empresa 2/